<h1>Lista de usuarios registrados</h1>
<table border="1" *ngIf="hayRegistros(); else sin" class="table">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Nombre</th>
    <th scope="col">Telefono</th>
    <th scope="col">Email</th>
    <th scope="col">Borrar</th>
    <th scope="col">Seleccionar</th>
  </tr>
  <tr *ngFor="let usuario of usuarios">
    <td>{{usuario.idUsuario}}</td>
    <td>{{usuario.nombre}}</td>
    <td>{{usuario.telefono}}</td>
    <td>{{usuario.email}}</td>
    <td><button (click)="bajaUsuario(usuario.idUsuario)" class="btn btn-primary">Borrar</button></td>
    <td><button (click)="seleccionarUsuario(usuario.idUsuario)" class="btn btn-primary">Seleccionar</button></td>
  </tr>
</table>

<ng-template #sin>
  <p>No hay usuarios registrados</p>
</ng-template>

<div class="form">
  <div class="form-group">
  <p> Nombre: <input type="text" [(ngModel)]="usuario.nombre" class="form-control"/> </p>
</div>
<div class="form-group">
  <p> Telefono: <input type="number" [(ngModel)]="usuario.telefono" class="form-control"/> </p>
</div>
<div class="form-group">
  <p> Email: <input type="text" [(ngModel)]="usuario.email" class="form-control"/> </p>
</div>
  <p> 
    <button (click)="altaUsuario()" class="btn btn-primary"> AGREGAR </button> 
    <button (click)="editarUsuario()" class="btn btn-secondary"> MODIFICAR </button> 
  </p>
</div>

<router-outlet></router-outlet>